/* 
| ==================================
| FONTS
| ================================== 
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@200..800&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 
| ==================================
| CUSTOMIZING
| ================================== 
*/
:root {
    /* Colors */
    --primary: #FFF;
    --dark: #000;
    --turqoice: #9EE3DE;
    --sf: #808080;
    --bg-color: #F8F8F8;

    /* Cubic-bezier */
    --primary-curve: cubic-bezier(0.62, 0.05, 0.01, 0.99);
    --secondary-curve: cubic-bezier(1, .01, 0, 1);

    /* Shadow-primary */
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* 
| ==================================
| BASE
| ================================== 
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--turqoice); 
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    background-color: var(--bg-color);
    color: var(--dark);
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    letter-spacing: -1px;
}

/* a:active {
    scale: 0.9;
} */

li {
    list-style: none;
}

.container {
    padding: 0 7%;
}

input {
    outline: none;
    background-color: transparent;
    border: none;
    width: 100%;
}

::placeholder {
    color: var(--grey);
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: .3;
    pointer-events: all;
}

button {
    outline: none;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

button:active {
    scale: 0.9;
}

.nav-btn-1 {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--sf);
}

.nav-btn-1:active {
    scale: 0.9;
}

.primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 1rem 2rem;
    max-width: 200px;
    background-color: var(--primary);
    color: var(--dark);
    border: 1px solid var(--primary);
    text-transform: uppercase;
    border-radius: 50 px;
    cursor: pointer;
}

.secondary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 1rem 2rem;
    max-width: 200px;
    /* background-color: var(--primary); */
    color: var(--primary);
    text-transform: uppercase;
    border: 1px solid var(--primary);
    border-radius: 50 px;
    cursor: pointer;
}

/* 
| ===============================
| BACK TO TOP BUTTON
| =============================== 
*/
.scrollToTopBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--turqoice);
    border: none;
    border-radius: 12px;
    padding: 1rem;
    color: var(--primary);
    cursor: pointer;
    /* place it at the bottom right corner */
    position: fixed;
    bottom: 30px;
    right: 30px;
    /* keep it on top of everything else */
    z-index: 1;
    /* hide with opacity */
    opacity: 0;
    /* also add a translate effect */
    transform: translateY(100px);
    /* and a transition */
    transition: all 1s var(--secondary-curve);
    box-shadow: var(--box-shadow);
}

.scrollToTopBtn:active {
    scale: 0.9;
}

.showBtn {
    opacity: 1;
    transform: translateY(0)
}

/* 
| =============================================
| MEDIA QUERIES
| ============================================= 
*/

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    .container {
        padding: 0 5%;
    }

    a:active {
        scale: 1;
    }

    .scrollToTopBtn {
        bottom: 5%;
        right: 5%;
    }
}

/* Mobile */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }

    .scrollToTopBtn {
        padding: 1.5rem;
        bottom: 10px;
        right: 10px;
    }
}